/***************** DaoCloud Landing Page Stylesheet *************** */

@import url('layout.css');

/****************************************************************** */
/*********************** CustomHelper Classes ********************* */

.center-block {
    float: none;
}
.block {
    display: block !important;
}
@media (max-width: 768px) {
    .line-xs {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .line-sm {
        display: block;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .line-md {
        display: block;
    }
}
@media (min-width: 1200px) {
    .line-lg {
        display: block;
    }
}
/***************************************************************** */
/***************** UNCOMMENT TO SEE GRID LAYOUT ****************** */
/* .container
 *  border: 5px solid orange
 *
 * .row
 *  border: 1px solid black
 *  > .col
 *    border: 5px solid red  */
/*******************************************************************/
/********************** Base CSS styles ****************************/
/*******************************************************************/

body {
    color: #0a3153;
    font-family: Raleway;
}
.accordion-section-content {
    font-size: 1.75vw;
}
.btn, input[type="submit"], .scrolldown-txt, .scrb-frm-ctr input {
    font-size: 16px;
}
#main-content {
    margin-top: 51px;
}
.content-wrapper {
    margin-top: 50px;
}
/*************************************************************************/
/******************** Heading / Paragraph Base Sizes *********************/
/*************************************************************************/

h1, h2, h3, h4, h5, h6, span {
    line-height: 1
}
p, strong {
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0px 20px;
}
h1 a, h1 a:hover, h1 a:visited, h2 a, h2 a:hover, h2 a:visited, h3 a, h3 a:hover, h3 a:visited, h4 a, h4 a:hover, h4 a:visited, h5 a, h5 a:hover, h5 a:visited, h6 a, h6 a:hover, h6 a:visited {
    color: #0a3153;
    text-decoration: underline;
}
h1 {
    font-size: 3.4vw;
    font-weight: 600;
    line-height: 105%;
}
h2 {
    font-size: 34px;
    line-height: 110%;
}
.subtitle, h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 125%;
}
/* Sizing H2 and H3s as screen size steps down */

@media (max-width: 992px) {
    h2 {
        font-size: 30px;
    }
    .subtitle, h3 {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
        line-height: 130%;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 14px;
    }
}
/*****************************************************************/
/******************* Section CSS Styles **************************/
/*****************************************************************/

section h1, h2, h3, h4 {
    text-align: center;
}
.sec-subtitle {
    font-weight: 100;
}
.section-title {
    padding: 45px;
}
section {
    padding: 45px 0px;
}
.border-sec {
    border-bottom: 1px solid #0a3153;
}
.border-sec .container {
    top: -15px;
    position: relative;
}
/***********************************************************************/
/************************ Button/Links Styles **************************/
/***********************************************************************/

.elem-wrapper {
    margin: 20px auto;
}
button {
    background-color: inherit;
}
#signup-row .btn a {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #0a3153;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 40px auto 0px auto;
    padding: 12px 0px;
    text-align: center;
    transition: all .2s linear;
    width: 268px;
}
.btn-gh:hover {
    background-color: transparent !important;
    color: #fff !important;
    text-decoration: none;
}
#propage .btn a {
    padding-bottom: 14px;
    padding-top: 14px;
}
/* Professional Page Button */

.scrb-frm-ctr .btn a {
    background-color: transparent;
    border: 2px solid #0a3153;
    border-radius: 4px;
    color: #0a3153;
    font-weight: bold;
    padding: 8px 25px;
    transition: all .2s linear;
}
.btn-wh:hover {
    background-color: #0a3153 !important;
    color: #fff !important;
    text-decoration: none;
}
.btn-row {
    padding: 20px;
    width: 100%;
}
/***********************************************************************/
/********************** Button/Links Media Queries *********************/
/***********************************************************************/

@media (max-width: 768px) {
    .btn, input[type="submit"], .scrolldown-txt, .scrb-frm-ctr input, .footer-links li {
        font-size: 14px;
    }
    #row1-section .btn {
        margin-top: 0px;
    }
    #signup-row .btn {
        margin-top: 0px;
    }
    #signup-row .btn a {
        background-color: #fff !important;
        color: #0a3153 !important;
    }
    .btn-form {
        font-size: 12px !important;
        line-height: 1.4;
    }
}
@media (min-width: 500px) and (max-width: 1150px) {
    .btn-long {
        float: none;
        width: 70%;
        margin: 0 auto;
        min-width: 149px;
    }
}
@media (min-width: 0px) and (max-width: 500px) {
    .btn-long {
        float: none;
        width: 75%;
        margin: 0 auto;
        min-width: 149px;
    }
}
input[type="submit"] {
    line-height: 3px;
}
.pro-signup-wrapper .btn, .pro-signup-wrapper .btn:hover {
    border: none;
}
/***********************************************************************/
/************************ Standard Form Styles **************************/
/***********************************************************************/

label {
    color: #0a3153;
}
.contact-us-form textarea, .contact-us-form input:not([type="submit"]) {
    opacity: 0.4;
    background-color: #0a3153;
    color: #fff;
}
.contact-us-form .input-border {
    border: 1.5px solid #092f57;
    border-radius: 4px;
}
/* Overrides for Bootstrap's Default Values*/

.form-control {
    border-color: #0a3153;
    color: #0a3153;
}
/***********************************************************************/
/************************ Navigation Styles ****************************/
/***********************************************************************/

header img {
    margin-top: 2px;
    width: 155px;
}
header.navbar {
    background-color: white;
    border-bottom: 1px solid #0a3153;
    margin-bottom: 0;
    min-height: 40px !important;
}
.nav {
    padding: 1px 15px 0px 0px;
}
.nav > li > a {
    cursor: pointer;
    margin-right: 10px;
}
.nav > li a {
    line-height: 50px;
}
.nav > li a:hover{
    color: #0a3153;
    border-bottom: 1px solid #0a3153;
    text-decoration: none;
}
.nav > li span {
    padding: 0px 15px !important;
    top: 7px;
    border-right: 1px solid #0a3153;
}
.nav > li {
    margin-bottom: 5px;
    height: 50px;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-nav .button-daocloud {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid #0a3153;
    color: #0a3153;
    border-radius: 4px;
    top: 5px;
    font-weight: bold;
    transition: all .2s linear;
    line-height: inherit;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-default .navbar-nav > li > span > a {
    color: #0a3153;
}
.nav-right {
    top: 160px;
}
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
/***********************************************************************/
/********************** Navigation Media Queries ***********************/
/***********************************************************************/

@media (min-width: 768px) {
    .nav > li {
        margin: 0px;
        position: relative;
    }
}
@media (max-width: 768px) {
    .nav {
        padding: 0px;
    }
    .nav > li span {
        border-right: none;
    }
    .nav > li {
        font-size: 16px;
        padding-bottom: 8px;
        text-align: center;
    }
    .nav > li a {
        margin-right: 0px;
    }
    .nav > li a:hover {
        border-bottom: none;
    }
    .navbar-nav {
        margin: 0px;
    }
    .navbar-nav .button-daocloud {
        background-color: #0a3153;
        border: none;
        color: #fff;
        margin: 20px auto 10px;
        padding: 10px;
        text-align: center;
        transition: none;
    }
    
    header .container {
        padding: 0px 15px;
    }
    .container {
        padding: 0vw 5vw;
    }
}
/*************************************************************************/
/*********************** Landing Page / Pro Page *************************/
/************** Member Signup & Request Section Styles *******************/
/*************************************************************************/

#row1-section::before {
    content: "";
    display: block;
    padding-bottom: 0px;
}
#mem-row1-section {
    background: url("../images/landing-page-modern.jpg") no-repeat;
    /*height: 42.25vw;*/
    
    background-size: cover;
    color: white;
}
#pro-row1-section {
    background: linear-gradient(to bottom, rgba(166, 203, 57, 1) 10%, rgba(0, 0, 0, 0) 100%), url('../images/grass.jpg');
    background-repeat: no-repeat;
    /*height: 32vw;*/
    
    color: white;
    background-size: cover;
    overflow: visible;
    padding: 0px;
    z-index: -1;
}
#pro-row1-section .container {
    height: 32vw;
    text-align: center;
    /* align the inline(-block) elements horizontally */
    
    font: 0/0 a;
    /* remove the gap between inline(-block) elements */
}
#pro-row1-section .container:before, #mem-row1-section .container:before {
    /* create a full-height inline block pseudo=element */
    
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    /* vertical alignment of the inline element */
    
    height: 100%;
}
#pro-row1-section .container .row, #mem-row1-section .container .row {
    display: inline-block;
    vertical-align: middle;
    font-family: Raleway;
    line-height: 1;
    /* <-- reset the font property */
    
    width: 100%;
    margin: 0 auto;
}
#pro-row1-section #signup-row {
    height: auto;
}
.pro-signup-wrapper {
    /* padding: 7.25vw 0px; */
    /* padding: 9.8vw 0px;*/
}
#signup-row h1, #signup-row h2, #signup-row h3, #signup-row h4, #signup-row span, #signup-row button {
    color: white;
}
#signup-row h4 {
    margin-top: 16px;
}
#signup-row h4 a {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: normal;
    line-height: 1.4;
    padding-bottom: 2px;
    text-decoration: none;
    /* Bootstrap override */
    
    transition: all .2s linear;
}
#signup-row h4 a:hover {
    border-bottom: 1px solid #ecebed;
    color: #ecebed;
    text-decoration: none;
    /* Bootstrap override */
}
#row1-section h4 {
    margin: 18px 0px;
}
.inner-container {
    margin: 0px auto;
}
#signup-row {
    height: 37vw;
}
.scrolldown-txt {
    top: 90%;
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 54%;
    font-family: Raleway;
    color: #0a3153;
    font-weight: bold;
}
.scrolldown-txt span:nth-of-type(1) {
    float: left;
}
.scrolldown-txt span:nth-of-type(2) {
    float: right;
}
.scrnsht {
    padding-top: 25px;
}
.icon-person-wrapper {
    margin-left: 10%;
}
.icon-person {
    min-height: 60px;
    max-height: 108px;
    padding: 18px;
}
#ftrslist-section .container {
    top: 0px;
}
.ftrslist-content {
    width: 301px;
    margin: 0 auto;
}
.ftr-list-img {
    float: left;
}
.svg-color {
    fill: red;
}
#propage .ftr-list-txt {
    font-size: 18px;
    padding: 21px 50px;
    text-align: center;
}
.ftr-list-txt-people {
    font-size: 24px;
    font-weight: bold;
    padding: 21px 50px;
    text-align: center;
}
#propage #ftrslist-row {
    margin-left: 0%;
}
#ftrslist-row img {
    height: 120px;
}
#signup-row h2 {
    right: 4vw;
    text-align: center;
}
#row1-section .btn {
    margin-top: 0px;
}
#row1-section::before {
    padding-top: 0px;
}
/************************************************************/
/************** Pro Page Media Queries **********************/
/************************************************************/
/* col-md breakpoint */

@media (min-width: 992px) and (max-width: 1200px) {
    .ftr-list-txt-people {
        font-size: 22px;
    }
    .icon-person {
        margin-left: -14px;
        padding: 22px;
    }
    .ftrrow1 {
        margin-left: 50px;
    }
    .ftrrow1 div:first-child {
        margin-bottom: 10px;
    }
    .ftrslist-row:nth-of-type(2) {
        margin-left: 15px;
    }
    .ftrslist-row:nth-of-type(3) {
        margin-left: -15px;
    }
    #ftrslist-section {
        background: white;
    }
    #propage #ftrslist-row {
        margin-left: -5%;
    }
}
/* col-sm breakpoint */

@media (min-width: 768px) and (max-width: 992px) {
    #ftrslist-row {
        max-height: none;
    }
    #propage #ftrslist-row {
        margin-left: -5%;
    }
    #ftrslist-section .ftr-padding {
        padding-bottom: 25px;
    }
    .ftr-list-txt {
        text-align: center;
    }
    .icon-person-txt, .icon-person-wrapper {
        display: block;
        text-align: center;
    }
}
/* col-xs breakpoint */

@media (max-width: 768px) {
    #row1-section::before {
        padding-top: 0px;
    }
    #signup-row {
        height: initial;
    }
    #signup-row h2 {
        right: 4vw;
        text-align: center;
    }
    #ftrslist-row {
        max-height: none;
    }
    #propage #ftrslist-row {
        margin-left: 0;
    }
    #mem-row1-section.section {
        padding-top: 0;
        padding-bottom: 35px;
        height: 280px;
    }
    #signup-row h4 a {
        background-color: #fff !important;
        border-radius: 4px;
        color: #0a3153;
        padding: 2px 8px;
    }
    #signup-row h4 a:hover {
        color: #0a3153;
    }
}
/* breakpoint just for the pro page header */

@media (max-width: 600px) {
    #pro-row1-section {
        height: 300px;
    }
    #propage h1 {
        font-size: 24px;
        line-height: 1.4;
        margin-top: 30px;
    }
    #propage h3, .accordion-section-content {
        font-size: 16px;
        line-height: 1.4;
    }
    #propage #signup-row .btn {
        font-size: 10px;
        width: 100%;
    }
    #signup-row .btn a {
        margin-top: 20px;
    }
}
@media (min-width: 350px) and (max-width: 500px) {
    #pro-row1-section .container {
        height: 55vw;
    }
}
/* */

@media (min-width: 0px) and (max-width: 480px) {
    #signup-row {
        text-align: center;
    }
    #signup-row h2 {
        position: absolute;
        left: 50%;
        margin-left: -74px;
        font-weight: bold;
        top: 7%;
        right: inherit !important;
    }
    .btn, input[type="submit"], .scrolldown-txt, .scrb-frm-ctr input, .footer-links li {
        font-size: 14px;
    }
}
/*************************************************************************/
/************** Landing Page Features List Media Queries *****************/
/*************************************************************************/

@media (min-width: 1200px) {
    .icon-person {
        padding: 22.298px;
    }
}
@media (min-width: 300px) and (max-width: 1200px) {
    .ftr-list-img {
        margin-left: 30px;
    }
}
@media (max-width: 550px) {
    .ftr-list-txt {
        font-size: 13px;
    }
}
@media (max-width: 480px) {
    footer .footer-links {
        float: none;
        width: auto;
    }
}
@media (min-width: 0) and (max-width: 300px) {
    .ftrslist-content {
        width: auto;
    }
    .ftr-padding {
        padding: 0px;
    }
}
/*****************************************************************/
/************* Landing Page Subscribe Section Styles *************/
/*****************************************************************/

#sbscrb-row {
    margin: 0 auto;
    position: relative;
}
#sbscrb-row .scrb-frm-ctr:nth-of-type(1) {
    margin-top: 10px;
}
#sbscrb-row h3 {
    font-weight: normal;
    margin: 0vw 0vw;
    padding-bottom: 25px;
    text-align: center;
}
#sbscrb-row .em-input {
    border: 3px solid #0a3153;
    border-radius: 8px;
    display: block;
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.4;
    padding: 12px !important;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.scrb-frm-ctr {
    margin: 25px 0px 10px 0px;
    text-align: center;
}
#sbscrb-row input::-webkit-input-placeholder, #sbscrb-row input:-moz-placeholder, #sbscrb-row input::-moz-placeholder, #sbscrb-row input:-ms-input-placeholder {
    text-align: center;
}
#sbscrb-row .scrb-btn-ctr {
    width: 80%;
}
.scrb-btn-ctr .btn-row {
    padding: 15px 30px;
}
#sbscrb-row input[type="submit"] {
    background: white;
    border-color: #0a3153;
    border-radius: 8px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    transition: all .2s linear;
}
#ftrslist-section .ftr-list-txt {
    font-size: 16px;
    padding-top: 20px;
    text-align: center;
}
/* For mobile buttons */

@media (max-width: 768px) {
    #sbscrb-row input[type="submit"] {
        background: #0a3153;
        color: #fff !important;
    }
}
/*************************************************************************/
/*********************** Pro Page Page Sytles ****************************/
/*************************************************************************/
/*----- Accordion -----*/

.accordion, .accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.accordion {
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin: 25px auto;
}
/*----- Section Titles -----*/

.accordion-section-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border-bottom: 1px solid #0a3153;
    margin: 0;
    transition: all .1s linear;
}
.accordion-section-title.active, .accordion-section-title:hover {
    background: #0a3153;
    color: white;
}
.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}
/*----- Section Content -----*/

.accordion-section-content {
    padding: 15px;
    display: none;
    border-bottom: 1px solid #0a3153;
    padding-bottom: 3.5vw;
}
.accordion-section:last-child .accordion-section-content {
    border-bottom: none;
}
.qa-container h4 {
    font-size: 18px;
}
.q-header, .q-answer {
    text-align: left;
}
.q-answer {
    font-weight: normal;
    font-size: 16px;
}
/*************************************************************************/
/************************ Regions Page Sytles ****************************/
/*************************************************************************/

#reg-row1-section {
    background: url("../images/hero-background-regions.jpg") no-repeat;
    height: 425px;
    background-size: cover;
    color: white;
}
/**************** Regions Form Section Sytles **************** */

#reg-row2-section .reg-form, #reg-row5-section .reg-form {
    padding: 25px 0px;
    background-color: #DAEEFC;
    border-radius: 12px;
    border: 1px solid #0A3153;
}
#reg-row2-section .reg-form {
    margin-top: -220px;
    height: 390px;
}
#reg-row5-section {
    padding-bottom: 70px;
}
#reg-row5-section .reg-form {
    margin-top: 45px;
}
.reg-form .elem-wrapper {
    padding: 15px;
    margin: 0px auto;
}
.reg-form .form-control {
    padding: 12px !important;
    border: 2px solid #0a3153;
    border-radius: 6px;
    font-size: 18px;
    width: 100%;
    height: inherit;
    height: 55px;
}
.reg-form input {
    color: #0a3153 !important;
}
.form-heading {
    padding-bottom: 45px !important;
    font-weight: normal
}
.frm-btn-con {
    width: 25%;
    min-width: 150px;
}
.btn-form {
    background-color: #0a3153;
    font-size: 1.75vw;
    font-weight: 600;
    color: white !important;
    height: 58px !important;
    transition: all .2s linear;
    text-align: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.btn-form:hover {
    background-color: #104b7f;
    border: 2px solid #104b7f;
    color: white !important;
    text-decoration: none;
}
.btn-form h3 {
    font-weight: normal;
}
#frm-btm-btn {
    margin-bottom: -70px;
}
.reg-form input:-ms-input-placeholder, .reg-form input::-moz-placeholder, .reg-form: input-moz-placeholder, .reg-form input::-webkit-input-placeholder {
    color: #0a3153 !important;
}
.reg-form select {
    background: #fff url('../images/arrows.png') no-repeat 98.75% 6px;
    text-align: left;
    font-size: 1.75px;
    color: #999999;
    padding-left: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.send-msg-reg {
    color: #0a3153;
    cursor: pointer;
    display: block;
    position: relative;
    top: 2px;
    right: 0px;
    font-size: 12px;
    text-align: right;
}
.send-msg-reg:hover {
    text-decoration: none;
}
#reg-row2-section .reg-form {
    margin-bottom: 25px;
}
.listrow-txt {
    font-size: 26px;
    font-size: 1.75vw;
    font-weight: bold;
    color: #0a3153;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    vertical-align: text-top;
}
.ftrd-img, .partners-img {
    padding: 27px;
    padding-bottom: 0px;
}
#hercampus {
    padding-left: 100px;
}
#reg-row4-section {
    background-color: #0a3153;
    color: white;
}
#reg-row4-section h1 {
    color: white;
}
.reg-col {
    text-align: center;
}
#reg-row3-section {
    padding: 80px 0px;
}
#reg-row3-section .title {
    margin-bottom: 65px;
}
#reg-row3-section .row {
    font-size: 1.75vw;
    text-align: center;
}
.reg-col span {
    display: block;
    line-height: 2.2vw;
}
.reg-block {
    padding: 15px 0px;
}
.reg-block span:first-child {
    font-weight: bold
}
/*************************************************************************/
/************************ Regions Page Media Queries *********************/
/*************************************************************************/
/* col-md breakpoint */

@media (min-width: 992px) and (max-width: 1200px) {
    .partners-img {
        padding: 10px;
    }
    .listrow-txt {
        font-size: 20px;
        margin: 0 auto;
        display: block;
        max-width: 100%;
        padding-top: 35px;
    }
    #reg-row2-section .row-list {
        margin-left: 12%;
    }
}
@media (max-width: 996px) {
    .reg-form .form-control {
        font-size: 14px !important;
    }
    #reg-row2-section .reg-form {
        margin-top: -250px;
        height: 370px;
    }
}
@media (max-width: 768px) {
    .reg-form .row div > div:nth-of-type(4) {
        float: none;
    }
    section#reg-row1-section {
        padding-top: 35px;
    }
    #reg-row3-section .row {
        font-size: 14px;
    }
    .reg-col span {
        display: block;
        line-height: 17px;
    }
    .ftrd-img, .partners-img, .listrow-txt {
        font-size: 17px;
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
    #hercampus {
        padding-left: 0px;
    }
    #reg-row2-section .reg-form {
        padding-top: 25px;
        height: 430px;
        margin-top: -250px;
    }
    #reg-row2-section .listrow-txt {
        padding-top: 35px;
    }
    #reg-row2-section .form-heading {
        padding-bottom: 25px !important;
    }
}
@media (max-width: 535px) {
    .reg-col {
        width: 100%;
    }
    #regions-page .reg-form .inner-container div {
        width: 100%;
    }
    #regions-page .reg-form .frm-btn-con {
        width: 75% !important;
    }
    #reg-row2-section .reg-form {
        height: 520px;
    }
    #reg-row1-section h3 {
        font-style: 20px;
    }
}
/************************************************************************/
/************************  Pricing Page Styles   ************************/
/************************************************************************/

.video-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.video-container div {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
}
.video-container div iframe {
    box-sizing: border-box;
    background: url(../images/pricing_page-laptop.png) center center no-repeat;
    background-size: contain;
    padding: 9.6% 11.85% 12.25%;
    /*padding: 9.7% 11.85% 12.4%;*/
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#pricing-row3-section .inner-container {
    width: 57vw;
    margin: 0 auto;
}
.single-title {
    margin: 45px auto;
}
#pricing-row2-section {
    text-align: center;
}
.rscrs-row h1 {
    font-size: 36px;
}
#pricing-row3-section .svg-color {
    fill: red;
}
#pricing-row2-section, #pricing-row3-section {
    padding: 0;
}
.single-title {
    margin: 35px auto 15px auto;
}
#pricing-row3-section #timeline {
    text-align: center;
}
#pricing-row3-section .arrow-offset {
    padding-right: 9vw;
}
#pricing-row3-section #timeline-head {
    position: relative;
    margin: 100px auto 0 auto;
}
#pricing-row3-section #timeline-head .milestone {
    position: absolute;
    bottom: 0;
}
#pricing-row3-section #timeline-head .milestone:nth-of-type(1) {
    left: 0;
}
#pricing-row3-section #timeline-head .milestone:nth-of-type(2) {
    left: 33%;
    padding-right: 90px;
}
#pricing-row3-section #timeline-head .milestone:nth-of-type(3) {
    left: 66%;
}
#pricing-row3-section .reg-form {
    padding: 25px 0px;
    background-color: #DAEEFC;
    border-radius: 12px;
    border: 1px solid #0A3153;
    margin: 25px 0 45px;
}
#pricing-row3-section .reg-form h2 {
    margin-bottom: 0;
}
#pricing-row3-section .reg-form h3 {
    padding-bottom: 0;
}
#pricing-row3-section .reg-form .frm-btn-con {
    margin-top: 40px;
}
#pricing-row3-section .reg-form .form-control {
    padding: 14px 12px 12px 12px !important;
    border: 2px solid #0a3153;
    border-radius: 6px;
    font-size: 18px;
    width: 50%;
    height: inherit;
    /* height: 55px; */
    
    margin: 0 auto;
}
#pricing-row4-section .reg-form .form-control {
    padding: 14px 12px 12px 12px !important;
}
/************************************************************************/
/***************** Pricing Page  Media Queries **************************/
/************************************************************************/

@media (min-width: 768px) {
    #pricing-row3-section #timeline-head {
        width: 74vw;
    }
    #pricing-row3-section .inner-container {
        width: 51vw;
    }
    #pricing-row3-section #timeline-head .milestone:nth-of-type(3) {
        left: 66%;
        padding-right: 8vw;
    }
}
@media (min-width: 0px) and (max-width: 768px) {
    #pricing-row3-section .inner-container {
        width: 80vw;
        margin: 0 auto;
    }
    #pricing-row3-section .arrow-offset {
        padding-right: 23vw;
    }
    #pricing-row3-section #timeline-head .milestone:nth-of-type(1) p {
        padding-right: 20px;
    }
    #pricing-row3-section #timeline-head .milestone:nth-of-type(2) {
        width: 40%;
        left: 20%;
        padding-right: 0;
    }
    #pricing-row3-section #timeline-head .milestone:nth-of-type(3) {
        width: 40%;
    }
}
/******************** About Section Styles ************************** */

#about-row1-section h1 {
    margin-bottom: 20px;
}
#about-row2-section p {
    font-size: 16px;
}
#about-row1-section h3 {
    font-weight: normal;
}
#about-row2-section .col-lg-4 {
    padding: 0px 30px;
}
#about-row2-section img {
    width: 100%;
}
.team-row img {
    width: 75%;
    margin: 0 auto;
}
.team-row h3.dao-position {
    font-size: 120%;
    margin-top: -40px;
    margin-bottom: 40px;
}
#about-content img {
    border: 1px solid #0a3153;
    border-radius: 150px;
}
#about-row2-section h1, .team-row h1 {
    margin-bottom: 30px;
}
#about-row2-section h3, .team-row h3 {
    font-weight: 600;
}
#about-row2-section h3 {
    margin: 25px 0px;
}
.team-row h3 {
    margin: 25px 0px;
    margin-bottom: 45px;
}
/******************************************************************* */
}
#pricing-row3-section .inner-container >div:first-child img {
    padding-bottom: 53vw;
}
}
@media (min-width: 0px) and (max-width: 170px) {
    .arrowg {
        display: none;
    }
    .info-col {
        width: 65%;
        margin: 0 auto;
    }
    .container-fluid {
        width: 72%;
    }
    #pricing-row3-section .row {
        margin-left: 0px;
    }
}
/************************************************************************/
/************************ About Section Styles **************************/
/************************************************************************/

#about-row1-section h1 {
    margin-bottom: 20px;
}
#about-row2-section p {
    font-size: 16px;
}
#about-row1-section h3 {
    font-weight: normal;
}
#about-row2-section .col-lg-4 {
    padding: 0px 30px;
}
#about-row2-section img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.team-row img {
    width: 75%;
    margin: 0 auto;
    max-width: 330px;
}
#about-content img {
    border: 1px solid #0a3153;
    border-radius: 450px;
}
#about-row2-section h1, .team-row h1 {
    margin-bottom: 30px;
}
#about-row2-section h3, .team-row h3 {
    font-weight: 600;
}
#about-row2-section h3 {
    margin: 25px 0px;
}
.team-row h3 {
    margin: 25px 0px;
    margin-bottom: 45px;
}
.center-text {
    text-align: center;
}
#about-content h2 {
    padding-bottom: 35px;
}
/************************************************************************/
/************************ Investor Page Styles **************************/
/************************************************************************/

.col-centered {
    float: none;
    margin: 0 auto;
}
.investor-page-header {
    padding-bottom: 25px;
}
.vision-page h3 {
    padding: 10px 0px;
}
.pitch-section {
    padding-top: 90px;
    padding-bottom: 0;
}
.demo-section {
    padding-bottom: 0;
}
.contact-section {
    margin-top: -30px;
    padding-bottom: 40px;
}
.youtube-player {
    height: 330px;
    width: 560px;
}
/************************************************************************/
/******************** Investor Page Media Queries ***********************/
/************************************************************************/

@media (max-width: 992px) {
    .youtube-player {
        height: 283px;
        width: 480px;
    }
}
@media (max-width: 768px) {
    .pitch-section {
        padding-top: 80px;
    }
    .youtube-player {
        height: 259px;
        width: 440px;
    }
}
@media (max-width: 610px) {
    .pitch-section {
        padding-top: 70px;
    }
    .youtube-player {
        height: 236px;
        width: 400px;
    }
}
@media (max-width: 480px) {
    .pitch-section {
        padding-top: 60px;
    }
    .youtube-player {
        height: 206px;
        width: 350px;
    }
}
/************************************************************************/
/************************ Privacy Page Styles ***************************/
/************************************************************************/

.privacy-date {
    text-align: center;
}
.privacy-page h1 {
    margin: 45px 0px 25px 0px;
}
.privacy-page h2 {
    line-height: 130%;
    padding: 25px 0px 15px;
}
/************************************************************************/
/*************************** Footer Styles ******************************/
/************************************************************************/

footer .row {
    margin: 15px auto;
}
footer li:nth-of-type(1), footer li:nth-of-type(2), footer li:nth-of-type(3) {
    border-right: 1px solid white;
}
footer li a, footer li a:visited {
    color: white;
    text-decoration: none;
}
footer li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
    text-decoration: none;
}
#footer {
    background-color: #0a3153;
    color: rgba(255, 255, 255, 0.3);
}
.footer-links {
    background-color: #0a3153;
    color: rgba(255, 255, 255, 0.3);
    width: 480px;
    margin: 0 auto;
}
footer li {
    padding: 1px 10px;
    display: inline-block;
    float: left;
}
/************************************************************************/
/************************* Footer Media Queries *************************/
/************************************************************************/

@media (max-width: 768px) {
    footer li {
        font-size: 12px;
    }
    footer li a:hover {
        border-bottom: none;
    }
}
@media (max-width: 480px) {
    footer .footer-links {
        float: none;
        width: auto;
    }
    footer li {
        padding: 10px;
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        border-right: none !important;
    }
}
